# Django
DEBUG=True
BASE_URL=127.0.0.1:8000
BACK_URL=http://127.0.0.1:8000
FRONT_URL=http://127.0.0.1:3000
ADMIN_URL=admin
COOKIE_DOMAIN=127.0.0.1
ALLOWED_HOSTS=*
CORS_ORIGIN_WHITELIST="http://locahost http://127.0.0.1"
SECRET_KEY="django-insecure"

ENV_TYPE=local|dev|prod

# JWT Token
ACCESS_TOKEN_LIFETIME_MIN=60
REFRESH_TOKEN_LIFETIME_MIN=1440

# Superuser
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin
